<div *ngIf="movieD !== undefined && movieCredit !== undefined">
  <div class="header-img">
    <div *ngIf="movieImages !== undefined">
      <ng-container *ngFor="let item of movieImages.backdrops; let i = index">
        <div class="cover-movie" *ngIf="i === 0" >
          <div class="transparency-header"></div>
          <img src="https://image.tmdb.org/t/p/original/{{item.file_path}}" alt="">
        </div>
      </ng-container>
    </div>
    <div class="movie-header-container">
      <div class="movie-poster">
        <div class="poster-cover">
          <img src="https://image.tmdb.org/t/p/original/{{movieD.poster_path}}" alt="Poster">
        </div>
      </div>
      <div class="movie-details-txt">
        <div class="first-half">
          <div class="date-time-info">
            <i class="bi bi-calendar-week"></i><span>{{movieD.release_date}}</span>
            <i class="bi bi-hourglass-top"></i><span>{{movieD.runtime}}</span>
          </div>
          <div class="movie-titles">
            <div class="title">
              <span>{{ movieD.title }}</span>
            </div>
            <div class="subtitle">
              <span class="sub-span">Original Title: </span><span>{{ movieD.original_title }}</span>
            </div>
          </div>
          <div class="movie-desc">
            <span>{{movieD.overview}}</span>
          </div>
          <div class="movie-tags">
            <span *ngFor="let genre of movieD.genres">{{ genre.name }}</span>
          </div>
        </div>
        <div class="second-half">
          <div class="movie-details-sec">
            <div class="tmdb-rate">
              <div>
                <span>TMDB Rate</span>
              </div>
              <i [ngClass]="setRate(movieD.vote_average)"></i>
              <span class="detail-value">{{movieD.vote_average | number: '1.0-1'}}</span>
            </div>
            <div class="tmdb-popularity">
              <div>
                <span>TMDB Popularity</span>
              </div>
              <span class="detail-value">{{ movieD.popularity | number: '1.0-0' }}</span>
            </div>
          </div>
          <div class="movie-socials-sec" *ngIf="movieSocial !== undefined">
            <ul>
              <li *ngIf="movieSocial.facebook_id">
                <i class="bi bi-facebook"></i>
                @{{movieSocial.facebook_id}}
              </li>
              <li *ngIf="movieSocial.twitter_id">
                <i class="bi bi-twitter"></i>
                @{{movieSocial.twitter_id}}
              </li>
              <li *ngIf="movieSocial.instagram_id">
                <i class="bi bi-instagram"></i>
                @{{movieSocial.instagram_id}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-cast">
    <span>Cast</span>
    <div class="cards-cast-container">
      <div class="cast-card" *ngFor="let actor of movieCredit.cast" >
        <div class="transparency"></div>
        <div class="cast-name">
          <div class="actor-char">
            <span>{{ actor.character }}</span>
          </div>
          <div class="actor-name">
            <span>{{ actor.original_name }}</span>
          </div>
        </div>
          <img *ngIf="actor.profile_path" src="https://image.tmdb.org/t/p/original/{{actor.profile_path}}" alt="">
          <img *ngIf="!actor.profile_path" src="../../../assets/images/null-pfp.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="details-wrapped">
    <div class="details-stream">
      <div class="details details-box">
          <div class="details-1">
            <span class="small-title">Directed By</span>
            <ul  *ngFor="let director of movieCredit.crew; let i=index">
              <li *ngIf="director.department === 'Directing' && i<150">
                {{ director.name }}
              </li>
            </ul>
            <span class="small-title">Country</span>
            <ul>
              <li *ngFor="let country of movieD.production_countries"> {{ country.name }} </li>
            </ul>
          </div>
          <div class="details-1">
            <span class="small-title">Budget</span>
            <ul>
              <li>{{ movieD.budget | currency }}</li>
            </ul>
            <span class="small-title">Revenue</span>
            <ul>
              <li>{{ movieD.revenue | currency}}</li>
            </ul>
          </div>
      </div>
      <div class="stream-plataforms details-box custom-scroll">
        <span class="small-title">Available now on</span>
        <div *ngIf="watchProviders !== undefined">
          <div class="service-box" *ngFor="let provider of watchProviders.rent">
            <img src="https://image.tmdb.org/t/p/original/{{provider.logo_path}}" alt="">
            <span >{{ provider.provider_name }}</span>
          </div>
          <div class="service-box" *ngFor="let provider of watchProviders.flatrate">
            <img src="https://image.tmdb.org/t/p/original/{{provider.logo_path}}" alt="">
            <span >{{ provider.provider_name }}</span>
          </div>
        </div>
        <div *ngIf="!watchProviders || watchProviders.rent == undefined && watchProviders.flatrate == undefined">
          <div class="no-providers">
            <img src="../../../assets/images/light-no-provider.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="review custom-scroll" >
      <span class="small-title">Reviews</span>
      <div *ngIf="reviews !== undefined">
        <div class="review-card" *ngFor="let review of reviews">
          <div class="card-header">
            <div class="header-user-details">
              <div class="user-pfp">
                <img *ngIf="review.author_details.avatar_path" src="https://image.tmdb.org/t/p/original/{{review.author_details.avatar_path}}" alt="">
                <img *ngIf="!review.author_details.avatar_path" src="../../../assets/images/null-pfp.jpg" alt="">
              </div>
              <div class="header-published-details">
                <div class="user-name">
                  <span>{{ review.author }}</span>
                </div>
                <div class="user-publish-date">
                  <span class="publish-title">Published at: </span> <span>{{ review.created_at | date: 'dd/MM/yyyy' }}</span>
                </div>
              </div>
            </div>
            <div class="header-stars">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
          </div>
          <div class="card-body custom-scroll">
            <span>{{ review.content }}</span>
          </div>
        </div>
      </div>
      <div *ngIf="reviews == undefined || !reviews || reviews == null || reviews == 0">
        <div class="no-reviews-container">
          <img src="../../../assets/images/light-no-reviews.png" alt="">
        </div>
      </div>
    </div>
    <div class="gallery-photos">
      <ng-container class="photo-gallery" *ngFor="let moviePic of movieImages.backdrops; let i=index">
        <div class="pic-block" *ngIf="i<5">
          <img src="https://image.tmdb.org/t/p/original/{{moviePic.file_path}}" alt="">
        </div>
      </ng-container>
    </div>
  </div>
  <div class="recommended-wrapped">
    <span class="big-title">Recommended for you</span>
    <div *ngIf="recommended !== undefined" class="recommended-container">
      <div class="recommended-card" *ngFor="let media of recommended">
        <div class="card-cover">
          <img *ngIf="media.poster_path" src="https://image.tmdb.org/t/p/original/{{media.poster_path}}" alt="">
          <img *ngIf="!media.poster_path" src="../../../assets/images/no-movie-img.png" alt="">
        </div>
        <div class="card-body">
          <span>{{ media.title }}</span>
        </div>
        <a [routerLink]="['/movie', media.id]"><span class="anchor-link"></span></a>
      </div>
    </div>
  </div>
</div>
