<div *ngIf="movieD !== undefined && movieCredit !== undefined">
  <div class="header-img">
    <div *ngIf="movieImages !== undefined">
      <ng-container *ngFor="let item of movieImages.backdrops; let i = index">
        <div class="cover-movie" *ngIf="i === 0" >
          <div class="transparency-header"></div>
          <img src="https://image.tmdb.org/t/p/original/{{item.file_path}}" alt="">
        </div>
      </ng-container>
    </div>
    <div class="movie-header-container">
      <div class="movie-poster">
        <div class="poster-cover">
          <img src="https://image.tmdb.org/t/p/original/{{movieD.poster_path}}" alt="Poster">
        </div>
      </div>
      <div class="movie-details-txt">
        <div class="first-half">
          <div class="date-time-info">
            <i class="bi bi-calendar-week"></i><span>{{movieD.release_date}}</span>
            <i class="bi bi-hourglass-top"></i><span>{{movieD.runtime}}</span>
          </div>
          <div class="movie-titles">
            <div class="title">
              <span>{{ movieD.title }}</span>
            </div>
            <div class="subtitle">
              <span class="sub-span">Original Title: </span><span>{{ movieD.original_title }}</span>
            </div>
          </div>
          <div class="movie-desc">
            <span>{{movieD.overview}}</span>
          </div>
          <div class="movie-tags">
            <span *ngFor="let genre of movieD.genres">{{ genre.name }}</span>
          </div>
        </div>
        <div class="second-half">
          <div class="movie-details-sec">
            <div class="tmdb-rate">
              <div>
                <span>TMDB Rate</span>
              </div>
              <i [ngClass]="setRate(movieD.vote_average)"></i>
              <span class="detail-value">{{movieD.vote_average | number: '1.0-1'}}</span>
            </div>
            <div class="tmdb-popularity">
              <div>
                <span>TMDB Popularity</span>
              </div>
              <span class="detail-value">{{ movieD.popularity | number: '1.0-0' }}</span>
            </div>
          </div>
          <div class="movie-socials-sec" *ngIf="movieSocial !== undefined">
            <ul>
              <li *ngIf="movieSocial.facebook_id">
                <i class="bi bi-facebook"></i>
                @{{movieSocial.facebook_id}}
              </li>
              <li *ngIf="movieSocial.twitter_id">
                <i class="bi bi-twitter"></i>
                @{{movieSocial.twitter_id}}
              </li>
              <li *ngIf="movieSocial.instagram_id">
                <i class="bi bi-instagram"></i>
                @{{movieSocial.instagram_id}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-cast">
    <span>Cast</span>
    <div class="cards-cast-container">
      <div class="cast-card" *ngFor="let actor of movieCredit.cast" >
        <div class="transparency"></div>
        <div class="cast-name">
          <div class="actor-char">
            <span>{{ actor.character }}</span>
          </div>
          <div class="actor-name">
            <span>{{ actor.original_name }}</span>
          </div>
        </div>
          <img *ngIf="actor.profile_path" src="https://image.tmdb.org/t/p/original/{{actor.profile_path}}" alt="">
          <img *ngIf="!actor.profile_path" src="../../../assets/images/null-pfp.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="details-wrapped">
    <div class="details-stream">
      <div class="details details-box">
          <div class="details-1">
            <span class="small-title">Directed By</span>
            <ul  *ngFor="let director of movieCredit.crew" >
              <li *ngIf="director.department === 'Directing'">
                {{ director.name }}
              </li>
            </ul>
            <span class="small-title">Country</span>
            <ul>
              <li *ngFor="let country of movieD.production_countries"> {{ country.name }} </li>
            </ul>
          </div>
          <div class="details-1">
            <span class="small-title">Budget</span>
            <ul>
              <li>{{ movieD.budget | currency }}</li>
            </ul>
            <span class="small-title">Revenue</span>
            <ul>
              <li>{{ movieD.revenue | currency}}</li>
            </ul>
          </div>
      </div>
      <div class="stream-plataforms details-box" *ngIf="watchProviders !== undefined">
        <span class="small-title">Available now on</span>
        <div class="service-box" >
          <img src="" alt=""> <span>{{ watchProviders.id }}</span>
        </div>
      </div>
    </div>
    <div class="review" *ngIf="reviews !== undefined">
      <div class="review-card" *ngFor="let review of reviews.results">
        <div class="card-header">
          <div class="header-user-details">
            <div *ngFor="let item of review.author_details">
              <img src="{{item.avatar_path}}" alt="">
            </div>
            <div class="header-published-details">
              <div class="user-name">
                <span>{{ review.author }}</span>
              </div>
              <div class="user-publish-date">
                <span class="publish-title">Published at: </span> <span>{{ review.created_at | date: 'dd/MM/yyyy' }}</span>
              </div>
            </div>
          </div>
          <div class="header-stars"></div>
        </div>
        <div class="card-body">
          <span>{{ review.content }}</span>
        </div>
      </div>
    </div>
    <div class="gallery-photos">
      a

    </div>
  </div>
</div>
