.header-container {
  width: 100%;
  height: auto;

  object-fit: cover;
  img {
    width: 100%;
    height: 100%;
  }
}

.cards-info-combo {
  width: 100%;
  height: 500px;
  position: relative;

  .cards-info-container {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    gap: 45px;

    .card-top {
      margin-bottom: 50px;
    }

    .card-bottom {
      margin-top: 50px;
    }

    .card-info {
      width: 250px;
      height: 250px;
      padding: 8px;
      z-index: 1;
      align-items: center;
      background-color: var(--white);
      display: flex;
      border-radius: 8px;
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);

      .card-info-icon {
        margin: 0 auto 18px auto;
        height: 64px;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;

        i {
          color: var(--white);
          font-size: 2.15rem;
        }
      }

      .orange-icon {
        .card-info-icon {
          background-color: var(--sorbus);
        }
        a {
          color: var(--sorbus);
        }
      }

      .purple-icon {
        .card-info-icon {
          background-color: var(--portage);
        }
        a {
          color: var(--portage);
        }
      }

      .green-icon {
        .card-info-icon {
          background-color: var(--puerto-rico);
        }
        a {
          color: var(--puerto-rico);
        }
      }

      .red-icon {
        .card-info-icon {
          background-color: var(--valencia);
        }
        a {
          color: var(--valencia);
        }
      }

      .card-info-body {
        display: block;
        padding: 25px;
        line-height: 25px;
        font-size: var(--normal);
        text-align: center;
        font-family: var(--roboto);

        .card-info-title {
          text-align: center;
          font-family: var(--noto-sans);
          font-weight: 600;
          margin-bottom: 15px;
        }

        .card-info-txt {
          text-align: justify;
          margin-bottom: 15px;
        }

        & > a {
          text-decoration: none;
          transition: all 0.4s ease;
          &:hover {
            opacity: 70%;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .cards-info-bg {
    position: relative;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      opacity: 90%;
    }
  }
}

.info-box-container {
  width: 100%;
  height: auto;
  padding: 25px 0;
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 85px;
  background: var(--linear-black);

  .info-box {
    height: 220px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    line-height: 32px;
    color: var(--white);
    font-family: var(--roboto);

    // ::after {
    //   content: "\a" !important;
    //   white-space: pre;
    // }

    .info-box-title {
      text-align: left;
      font-weight: 600;
      font-size: var(--larger);
    }

    .info-box-txt {
      font-size: var(--large);
      text-align: justify;
      font-weight: 100;
    }
  }
}

.cards-combo {
  margin-top: 64px;
  width: 100%;
  // padding: 1rem;
  > span {
    font-size: var(--larger);
    font-family: var(--noto-sans);
    font-weight: 600;
    line-height: 105px;
    padding: 0 2rem;
  }

  .cards-container {
    overflow-x: auto;
    display: flex;
    gap: 20px;
    padding: 6rem 4rem;
    margin: 0 10px;

    .card-movie {
      height: 500px;
      padding: 0 1rem;
      background-color: var(--white);
      position: relative;
      border-radius: 10px;
      box-shadow: var(--small-sd);
      color: var(--mardi-gras);

      .card-img {
        width: 275px;
        height: 405px;
        padding: 0.6rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 14px;
        position: absolute;
        top: -86px;
        background: linear-gradient(180deg, #bebebe4d 0%, #e2e2e2 100%);

        img {
          height: auto;
          width: 100%;
          object-fit: cover;
        }
      }

      .card-body {
        margin-top: 350px;
        font-family: var(--noto-sans);
        justify-content: center;
        text-align: center;

        span {
          font-weight: 900;
        }

        .card-details {
          display: flex;
          justify-content: center;
          gap: 25px;
          font-size: var(--small);
          line-height: 35px;

          .dt-title {
            font-weight: 600;
          }
          span {
            font-weight: 300;
          }
        }
        .card-tags {
          margin-top: 25px;
          display: flex;
          justify-content: center;
          gap: 8px;

          .tag {
            background-color: var(--grey);
            width: fit-content;
            height: 27px;
            padding: 2px 8px;
            border-radius: 40px;
            display: flex;
            align-items: center;
            line-height: 1px;
            font-size: var(--small);
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .cards-info-combo {
    .cards-info-container {
      grid-template-columns: repeat(2, 1fr);

      .card-top {
        margin-bottom: 0;
      }

      .card-bottom {
        margin-top: 0;
      }
    }
  }
  .info-box-container {
    margin-top: 180px;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 1024) {
  .cards-info-combo {
    .cards-info-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .info-box-container {
    margin-top: 180px;
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 798px) {
  .cards-info-combo {
    .cards-info-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .info-box-container {
    margin-top: 780px;
    grid-template-columns: repeat(1, auto);
  }
}

// @media (max-width: 1280px) {
//   .cards-info-combo {
//     .cards-info-container {
//       grid-template-columns: repeat(2, 1fr);
//     }
//   }
// }
