<div class="header-container">
  <img src="../../../assets/images/lightm_home_banner.png" />
</div>
<div class="cards-info-combo">
  <div class="cards-info-container">
    <div class="card-info card-top">
      <div class="card-info-body orange-icon">
        <div class="card-info-icon">
          <i class="bi bi-star"></i>
        </div>
        <p class="card-info-title">Favorite your shows</p>
        <p class="card-info-txt">
          Mark them with a heart and make it easier to find later.
        </p>
        <a href="#">Start searching</a>
      </div>
    </div>
    <div class="card-info card-bottom">
      <div class="card-info-body purple-icon">
        <div class="card-info-icon">
          <i class="bi bi-person-circle"></i>
        </div>
        <p class="card-info-title">Create your own account</p>
        <p class="card-info-txt">
          Mark them with a heart and make it easier to find later.
        </p>
        <a href="#">Start searching</a>
      </div>
    </div>
    <div class="card-info card-top">
      <div class="card-info-body green-icon">
        <div class="card-info-icon">
          <i class="bi bi-card-list"></i>
        </div>
        <p class="card-info-title">Organize your favorite shows</p>
        <p class="card-info-txt">
          Mark them with a heart and make it easier to find later.
        </p>
        <a href="#">Start searching</a>
      </div>
    </div>
    <div class="card-info card-bottom">
      <div class="card-info-body red-icon">
        <div class="card-info-icon">
          <i class="bi bi-search-heart-fill"></i>
        </div>
        <p class="card-info-title">Discover the newest shows</p>
        <p class="card-info-txt">
          Mark them with a heart and make it easier to find later.
        </p>
        <a href="#">Start searching</a>
      </div>
    </div>
  </div>
  <div class="cards-info-bg">
    <img src="../../../assets//images/waves-bg.png" alt="" />
  </div>
</div>

<div class="info-box-container">
  <div class="info-box">
    <span class="info-box-title">Stay Tuned</span>
    <span class="info-box-txt"
      >Keep yourself updated to all the news coming from the threaters. Don’t
      miss one date of release and save your favorite options for later!</span
    >
  </div>
  <div class="info-box">
    <span class="info-box-title">Don't lose your information</span>
    <span class="info-box-txt"
      >There is no data loss. Once you are logged in, every change you make on
      your profile will remain.</span
    >
  </div>
  <div class="info-box">
    <span class="info-box-title">Simple and easy to use</span>
    <span class="info-box-txt"
      >Our system is designed to make your life even more easy. We offer a
      simple system with cool features made just for you.</span
    >
  </div>
</div>

<div class="cards-combo">
  <span>Best Rates of 2022</span>
  <div class="cards-container">
    <div class="card-movie">
      <div class="card-img">
        <img src="../../../assets/images/poster-1.png" />
      </div>
      <div class="card-body">
        <span>Spider-Man: No way home</span>
        <div class="card-details">
          <div class="datails-1">
            <span class="dt-title">Release: </span><span>07/12/2020</span>
          </div>
          <div class="details-2">
            <span class="dt-title">Duration: </span><span>1h43m</span>
          </div>
        </div>
        <div class="card-tags">
          <span class="tag">Action</span><span class="tag">Fiction</span
          ><span class="tag">Suspense</span><span class="tag">Adventure</span>
        </div>
      </div>
    </div>
  </div>
</div>
