<div class="home-container">
  <div class="header-container">
    <img src="../../../assets/images/lightm_home_banner.png" />
  </div>
  <div class="cards-info-container">
    <img src="../../../assets//images/waves-bg.png" alt="" />
    <div class="card-info"></div>
    <div class="card-info"></div>
    <div class="card-info"></div>
    <div class="card-info"></div>
  </div>

  <div class="info-combo">
    <img src="../../../assets/images/info-combo-waves-bg.png" alt="" />
    <!-- <div class="info-box">
      <span class="info-box-title">Stay Tuned</span>
      <span class="info-box-txt"
        >Keep yourself updated to all the news coming from the threaters. Don’t
        miss one date of release and save your favorite options for later!</span
      >
    </div>
    <div class="info-box">
      <span class="info-box-title">Don't lose your information</span>
      <span class="info-box-txt"
        >There is no data loss. Once you are logged in, every change you make on
        your profile will remain.</span
      >
    </div>
    <div class="info-box">
      <span class="info-box-title">Simple and easy to use</span>
      <span class="info-box-txt"
        >Our system is designed to make your life even more easy. We offer a
        simple system with cool features made just for you.</span
      >
    </div> -->
  </div>
</div>
