.body-content {
  width: calc(100% - 210px);
  height: 100vh;
  margin-left: 210px;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.3s;
}

.body-trimmed {
  width: calc(100% - 110px);
  margin-left: 110px;
}
.body-md-screen {
  width: calc(100% - 500px);
  margin-left: 500px;
}
