@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  // colors
  --mardi-gras: #110b11;
  --black-russian: #1e1e24;
  --sorbus: #da6340;
  --portage: #8492e4;
  --puerto-rico: #4ebab3;
  --valencia: #ce5353;
  --white: #fff;
  --black: #000;
  --linear-black: linear-gradient(180deg, #1e1e24d9 0%, #1e1e24 35.42%);

  // font size
  --tiny: 0.75rem;
  --small: 0.875rem;
  --normal: 1rem;
  --large: 1.125rem;
  --larger: 1.25rem;
  --huge: 1.375rem;

  // font family
  --noto-sans: "Noto Sans", sans-serif;
  --roboto: "Roboto", sans-serif;

  // line height
  --default-lineh: 30px;
  --title-lineh: 50px;
  // screen width
  --sm: 640px;
  --md: 798px;
  --lg: 1024px;
  --xl: 1280px;
  --xxl: 1536px;
}

body {
  background-image: linear-gradient(180deg, #ffffff 0%, #e8e8e8 100%) no-repeat
    center center fixed;
  // height: 1000vh;
  background-size: cover;
}

// .body-container {
//   padding: 0 25px;
// }
