<div class="menu-container" [ngClass]="adjustItems()" (scroll)="changeMenuOnScroll();">
  <ul class="left-items" [ngClass]="hidetItems()">
    <li *ngFor="let item of menuItems">
      {{ item.name }}
    </li>
  </ul>
  <ul class="right-items">
    <li>
      <button class="light-mode-btn"><i class="bi bi-moon"></i></button> Night
    </li>
    <li [ngClass]="hidetItems()">
      <a routerLink="login">
        <button class="registration-btn">Log in</button>
      </a>
    </li>
  </ul>
</div>
